/* ESTILOS GENERALES */
body {
  padding: 60px 0px;
}

header {
  .navbar-inverse .navbar-brand {
    color: white;
    font-size: 2em;
  }
}

/* PÁGINA PRINCIPAL */
#chapters {
  margin:0;
  padding: 0;
}
#chapters li {
  list-style: none;
}
